*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
    font-family: 'Times New Roman', Times, serif;
     background-color: cornsilk;
}

ul {
  color:rgb(41, 30, 17);
  border: solid 1px cornsilk;

}

a {
  color: seagreen;
}

.title {
  font-size: 36px;
  font-weight: bold;
  color: cornsilk;
  background-color: rgb(19, 59, 36); 
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border: solid seagreen 6px;
}

    /*width: n/a;
      margin: 0 auto;
      (horizontal centering)